# 核心深度学习框架 (Core DL Frameworks)
torch==2.6.0
torchvision==0.21.0
timm==1.0.15

# 数据处理与科学计算 (Data Processing)
numpy==2.1.2
pandas==2.3.1
scipy==1.15.2
pillow==11.0.0
opencv-python==4.11.0.86
scikit-image==0.24.0
scikit-learn==1.6.1

# 图像增强与评估 (Augmentation & Evaluation)
albumentations==2.0.8
pycocotools==2.0.8

# 其他工具 (Utilities)
tqdm==4.67.1
PyYAML==6.0.2
matplotlib==3.10.1
seaborn==0.13.2